# {{ item['title'] }}
> 🕰️ logged on {{ item['date'] }}
> 🔖 tagged: {{ item['tags'] }}

{{ item['content'] }}
## Sources
{% if item['sources'] is defined %}
{% for keys in item['sources'] %}
+ [{{ keys['text'] }}]({{ keys['link'] }})
{% endfor %}
{% else %}
Figured this one out myself 🥳
{% endif %}
